version: '3.8'
services:
  face_detection_service:
    build: ./faceblur/face_detection_service
    volumes:
      - ./faceblur/face_detection_service:/app
    ports:
      - 8001:8001
    command: uvicorn face_detection_service:app --host 0.0.0.0 --port 8001

  gateway_service:
    build: ./faceblur/gateaway_service
    volumes:
      - ./faceblur/gateaway_service:/app
    ports:
      - 8000:8000
    command: uvicorn gateway_service:app --host 0.0.0.0 --port 8000
    depends_on:
      - face_detection_service